<!DOCTYPE html>
<html ng-app>
  <head>
    <meta charset="UTF-8" />
    <title>Primer ejemplo angular</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <script src="js/lib/angular.min.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>Ng-Model de angularjs</h1>
      <hr />
      <p>
        Su nombre es: {{nombre}}
        <br />
        Su apellido es: {{apellido}}
        <input
          type="text"
          ng-model="nombre"
          class="form-control"
          placeholder="Nombre"
        />
        <br />
        <input
          type="text"
          ng-model="apellido"
          class="form-control"
          placeholder="Apellido"
        />
      </p>

      <p>
        Su pais: {{pais}}
        <select class="form-control" ng-model="pais">
          <option value="Colombia">Colombia</option>
          <option value="Ecuador">Ecuador</option>
          <option value="Venezuela">Venezuela</option>
        </select>
      </p>
      <p>
        Sus opciones: <br />
        -Opcion 1: {{opcion1 ? "Activada" : "Deactivada"}} <br />
        -Opcion 2: {{opcion2 ? "Activada" : "Deactivada"}} <br />
        <input type="checkbox" id="opcion" ng-model="opcion1" /> Opcion 1 <br />
        <input type="checkbox" ng-model="opcion2" /> Opcion 2 <br />
      </p>
      <p>
        Su genero: {{genero}}<br />
        <input type="radio" value="M" ng-model="genero" />Masculino <br />
        <input type="radio" value="F" ng-model="genero" />Femenino <br />
      </p>
    </div>
  </body>
</html>
